In [1]:
# The code was removed by DSX for sharing.

,ID,URI,TEXT_CONTENT,001_c01,002_c02,004_c04,015_c15,016_c16,018_c18,019_c19,...,022_c22,023_c23,024_c24,025_c25,026_c26,038_c38,039_c39,title,DATE,DATE_FACET_ID
0,1,csv://%2Fbkup%2Fwork%2Finfr%2FCollection%2Fyou...,仕事量・単価共に減少傾向 企業規模等勘案しても、十分とは言い難い。 仕事量は不安定 役員との...,541,1038230,1060049,28,28,NaN,2,...,3,旅客自動車運送業,310109,貸切観光バス,1,1986,当地,NaN,0,19700101
1,2,csv://%2Fbkup%2Fwork%2Finfr%2FCollection%2Fyou...,借入条件の優位性を期待 親会社信用力を背景に積極対応 近畿コカ・オリックス向け安定した販路有...,503,1060279,1060279,NaN,NaN,近畿コカ・コーラボトリング株式会社,5,...,3,自動車賃貸業,510901,自家用自動車・貨物車,0,1993,大阪府摂津市,NaN,0,19700101
2,3,csv://%2Fbkup%2Fwork%2Finfr%2FCollection%2Fyou...,関一章名義の借入圧縮に注力 一般顧客(個人+ゼネコン・金融機関等の法人) 横浜駅周辺の老舗料...,292,1042548,110031,17,16,NaN,4,...,3,飲食業(料亭),NaN,料亭,1,1953,当地,NaN,0,19700101
3,4,csv://%2Fbkup%2Fwork%2Finfr%2FCollection%2Fyou...,大 (株)ナガセからの配当金が収入源。 − − − 香港の分譲マンション購入資金155M支援...,246,1013505,1100037,27,26,NaN,2,...,3,不動産売買・仲介・管理業,500301,NaN,1,1988,NaN,NaN,0,19700101
4,5,csv://%2Fbkup%2Fwork%2Finfr%2FCollection%2Fyou...,"川崎地区不動産物件賃貸・売買 多数の顧客数確保。地区内当社物件も多く競争力高し 管理顧客5,...",370,1145541,2746809,NaN,NaN,NaN,5,...,3,建物売買業,500303,NaN,0,1984,川崎東門前,NaN,0,19700101

In [22]:
#行数とカラム数を確認
df_data_1.shape

(95, 22)

In [23]:
#WKSにImportするために２列形式にする
df_data_2 = df_data_1.loc[:,['ID','TEXT_CONTENT']] 
df_data_2.head()

   ID                                       TEXT_CONTENT
0   1  仕事量・単価共に減少傾向 企業規模等勘案しても、十分とは言い難い。 仕事量は不安定 役員との...
1   2  借入条件の優位性を期待 親会社信用力を背景に積極対応 近畿コカ・オリックス向け安定した販路有...
2   3  関一章名義の借入圧縮に注力 一般顧客(個人+ゼネコン・金融機関等の法人) 横浜駅周辺の老舗料...
3   4  大 (株)ナガセからの配当金が収入源。 − − − 香港の分譲マンション購入資金155M支援...
4   5  川崎地区不動産物件賃貸・売買 多数の顧客数確保。地区内当社物件も多く競争力高し 管理顧客5,...

In [24]:
# The code was removed by DSX for sharing.

In [25]:
csv1 = df_data_2.to_csv(None, header=False,index=False)
Write_CSV_to_ObjectStorage(credentials_6, csv1,"youkou_head100_forWKSimport.csv")

(True, 201)